{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<h3>Lista de especies</h3>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Nombre comercial</th>
      <th scope="col">Código FAO</th>
      <th scope="col">Nombre científico</th>
      <th scope="col">Tipo</th>
      <th scope="col">Depuración</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for especie in page_obj %}
    <tr>
      <th scope="row"><a class="link-primary" href="{% url 'especies:editar_especie' especie.id %}">{{ especie }}</a>
      </th>
      <td>{{ especie.fao }}</td>
      <td>{{ especie.n_cientifico }}</td>
      <td>{{ especie.tipo }}</td>
      <td> 
      {% if especie.depuracion  %}
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
      </svg>
      {% endif %}
      </td>
      <td>
        <a class="btn btn-danger btn-sm" href="{% url 'especies:eliminar_especie' especie.id %}">Eliminar</a>
        <a class="btn btn-primary btn-sm" href="{% url 'especies:editar_especie' especie.id %}">Editar</a>
      </td>
    </tr>
    {% endfor %}

  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
        </li>
      {% endif %}
      {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="page-item active" aria-current="page">
            <span class="page-link">
              {{ i }}
              <span class="sr-only">(current)</span>
            </span>
          </li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
        </li>
      {% endif %}
    </ul>
  </nav>


  </tbody>
</table>
<a class="btn btn-primary btn-sm" href="{% url 'especies:agregar_especie' %}">Nueva Especie</a>

{% endblock %}